#error_explanation {
  h2 {
    padding: 1rem;
  }
  h2, li {
    font-size: 0.875rem;
  }
  li {
    color: #a94442;
  }
}

label {
  display: block;
  margin-bottom: 4px;
}

input[type="text"] {
  width: 100%;
  padding: 4px 8px;
}

.field {
  margin-bottom: 12px;
}

.field_with_errors {
  input {
    border-color: red;
    color: red;
  }
}
